<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FachadaWSSGSSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FachadaWSSGSSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"
                binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding"
                contract="Moeda.FachadaWSSGS" name="FachadaWSSGS" />
        </client>
    </system.serviceModel>
</configuration>