body{
    background: lightblue;
    font-family: "Open Sans";
}

mark{
    background: tomato;
    color: white;
}

/* @font-face{
    font-family: "Lobster";
    font-style: normal;
    font-weight: normal;
    src: local("Lobster"), url(/fonts/lobster.woff) format("woff");
} */


h1, h2{
    font-family: "Josefin Sans";
}