*{
    margin: 0;
    font-family: arial;
    color:white
}

body{
    background: url(../images/fundo.jpg);
    background-size: cover;
    text-align: center;
}

.conteudo-principal{
    height: 100vh;
    background: rgba(0,0,0,0.5);
    padding-top: 10%;
}

.titulo{
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.data-inicio{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 30px;
}

.destaque{
    background: white;
    color: black;
}

a{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px;
}

a:hover{
    color: black;
    background: white;
}

.subtitulo{
    font-weight: bold;
}