.tabela-simples{
    border: 3px solid black;
    background: lightcoral;
    text-align: center;
    margin: 0 auto;
}

.tabela-simples td{
    border-top: 1px solid black;
    border-right: 1px solid white;
    border-left: 1px solid yellow;
    border-bottom: 1px solid lime;
}

.tabela-contas{
    border: 1px solid black;
    margin: 0 auto;
    width: 400px;
}

.tabela-contas caption{
    font-weight: bold;
    background: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.tabela-contas th,
.tabela-contas tfoot{
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center;
}

.tabela-contas td{
    border: 1px dotted black;
}

.positivo{
    color: blue;
}

.negativo{
    color: red;
}

.positivo::before{
    content: "+ ";
}

.negativo::before{
    content: "- ";
}

.bloco{
    border: 1px solid red;
    width: 200px;
    display: inline;
}

.linha{
    border: 1px solid blue;
    display: block;
}

.lista-imagens{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
